
<h1>Productos agregados hasta el momento: </h1>

<div class="containerCards">
    {{#each products}}
        <div class="card">
            <p>Nombre: {{this.title}}</p>
            <p>Descripción: {{this.description}}</p>
            <p>Precio: $ {{this.price}}</p>
        </div>
    {{/each}}
</div>

<div class="paginate">
    <div class="btnPaginate">
        {{#if hasPrevPage}}
            <a href="/products?page={{prevPage}}"> Anterior</a>
        {{/if}}
    </div>
    
    <div class="pPaginate">
        <p>Página {{page}} de {{totalPages}}</p>
    </div>

    <div class="btnPaginate">
        {{#if hasNextPage}}
            <a href="/products?page={{nextPage}}"> Siguiente </a>
        {{/if}}
    </div>
</div>
